{% load static %}
{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="static/styles.css">    
</head>


<body>
    <div class="div1">
        <img src="static/gym.jpg" height="100" width="100" alt="Gym Image">
    </div>
    <div class="main">
        <h1>Welcome To Gym Website</h1>
    </div>
    
</body>
{% block body %}
    
{% endblock body %}

</html> {% endcomment %}




<!DOCTYPE html>
<html lang="en">

<head>{% block head %}{% endblock head %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gym Website {% block title %}{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "assets/img/favicon.png" %}" rel="icon">
  <link href="{% static "assets/img/apple-touch-icon.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "assets/vendor/animate.css/animate.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/glightbox/css/glightbox.min.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/remixicon/remixicon.css" %}" rel="stylesheet">
  <link href="{% static "assets/vendor/swiper/swiper-bundle.min.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "assets/css/style.css" %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Sailor
  * Updated: Aug 30 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/sailor-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/gym/">Gym</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/gym/" class="active">Home</a></li>

          
          <li><a href="/gym/services">Services</a></li>
          <li class="dropdown"><a href="#"><span>Registration</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/gym/registration">Member</a></li>
              <li><a href="/gym/trainerReg">Trainer</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>login</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/gym/adminPage">Admin</a></li>
              <li><a href="/gym/adminPage">Trainer</a></li>
            </ul>
          </li>

          
            <li class="dropdown"><a href="#"><span>Plans</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="/gym/viewPlans">View Plans</a></li>
              </ul>
            </li>
          </li>
          <li><a href="/gym/bookSlotsPage">Book Slots</a></li>
          <li><a href="/gym/blog">Blog</a></li>
          

          <li><a href="/gym/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Gym</span></h2>
              <p class="animate__animated animate__fadeInUp">Your fitness journey is unique, and we respect that. Whether you're striving for weight loss, muscle gain, stress relief, or improved overall health, we're here to support your goals and celebrate your achievements.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Hero -->

  {% block body %}

  
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>Eum ipsam laborum deleniti velitena</h2>
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assum perenda sruen jonee trave</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
            </ul>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    

    <!-- ======= Clients Section ======= -->
    <section id="gym-clients" class="clients section-bg">
      <div class="container">
    
        <div class="row">
    
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="Gym Client 1">
          </div>
    
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="Gym Client 2">
          </div>
    
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="Gym Client 3">
          </div>
    
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="Gym Client 4">
          </div>
    
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="Gym Client 5">
          </div>
    
          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="Gym Client 6">
          </div>
    
        </div>
    
      </div>
    </section><!-- End Gym Clients Section -->
    

    {% endblock body %}

    <!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="icon-box">
          <i class="bi bi-dumbbell"></i>
          <h4><a href="#">Strength Training</a></h4>
          <p>Build strength and muscle with our state-of-the-art strength training equipment.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="bi bi-treadmill"></i>
          <h4><a href="#">Cardio Workouts</a></h4>
          <p>Get your heart rate up and improve your cardiovascular health with our cardio machines.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="bi bi-rowing"></i>
          <h4><a href="#">Rowing Machine</a></h4>
          <p>Experience a full-body workout with our rowing machines.</p>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="bi bi-dumbbell"></i>
          <h4><a href="#">Functional Training</a></h4>
          <p>Improve your flexibility and functional strength with our training programs.</p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Services Section -->


          

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Gym</h3>
              <p>
                62, Silwato Ka Was  <br>
                Ratlam (M.P.)<br><br>
                <strong>Phone:</strong> +91 8109552417<br>
                <strong>Email:</strong> rockingmaster5456@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Treadmills.</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cardio Machines.</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Rowing Machine.</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Elliptical Machines.</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Strength Training Machines.</a></li>
            </ul>
        </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Gym</span></strong>. All Rights Reserved
      </div>
      
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
