{% extends 'base.html' %}
{% block title %}
Book Slots
{% endblock title %}
{% block body %}


<style>
  /* Style the form container */
  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  /* Style the form labels */
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  /* Style the form inputs */
  input[type="text"],
  input[type="date"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f5f5f5; /* Grey background color */
  }

  /* Style the submit button */
  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Style the submit button on hover */
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
</style>


<div class="form-container">
  <h2 style="padding-bottom: 20px;">Book Slots</h2>
  <form action="{% url 'bookingSlots' %}" method="post">
    {% csrf_token %}
    <label for="date">Date And Time: </label>
    <input type="datetime-local" id="date" name="date"><br><br>
    <label for="member">Members: </label>

    <select id="member" name="member" >
        {% for i  in members %}
        <option style="font-style: italic;" value="{{i.id}}">{{i.fname}} {{i.lname}}</option>
        {% endfor %}
    </select>

    <label for="trainer">Trainer: </label>

    <select id="trainer" name="trainer" >
        {% for i  in trainers %}
        <option style="font-style: italic;" value="{{i.id}}">{{i.fname}} {{i.lname}}</option>
        {% endfor %}
    </select>


    <label for="subscription">Choose a Plan:</label>

    <select id="subscription" name="subscription" >
        {% for i  in plans %}
        <option style="font-style: italic;" value="{{i.id}}">{{i.name}} | Rs.{{i.amount}}/- | {{i.duration}} </option>
        {% endfor %}
    </select> 
    
    <input type="submit" value="Submit">
  </form>
</div>

{% endblock %}








