{% extends 'base.html' %}
{% block title %}
Contact Information
{% endblock title %}

{% block body %}
<style>
    .bodyClass {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .h1Class {
        text-align: center;
        color: #333;
        padding: 20px;
    }

    .contact-info {
        margin-bottom: 20px;
    }

    .contact-info h2 {
        color: #333;
        font-size: 1.5rem;
    }

    .contact-info p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    

    
</style>

<h1 class="h1Class">Contact Us</h1>
    <div class="container" class="bodyClass">
        <div class="contact-info">
            <h2>Reach Out to Us for Inquiries and Support</h2>
            <p>Thank you for considering contacting us. We are here to assist you in any way we can. Whether you have questions about our services, want to provide feedback, or need assistance with any gym-related matters, our team is ready to help.</p>
        </div>
        <div class="contact-info">
            <h2>Contact Information</h2>
            <p><strong>Location:</strong><br>62,67 Silawato Ka Was,<br>Ratlam (M.P.)</p>
            <p><strong>Phone:</strong><br>+91 8109552561</p>
            <p><strong>Email:</strong><br>gym@gmail.com</p>
        </div>
    </div>
{% endblock body %} 



  



