{% extends 'base.html' %}
{% block title %}
Login Successfully!
{% endblock title %}

{% block body %}
<div style="padding-top :100px; padding-bottom: 50px; padding-left : 100px;" align="center" > 
    <h1> Welcome Admin:- </h1>
    </div>
<div style="padding-top :100px; padding-bottom: 50px; padding-left : 100px" > 
    <h1> These are the Links for You:- </h1>
    </div>

<div style="padding-top :100px; padding-bottom: 50px; padding-left : 100px" > 
<h1> <a href="/gym/members">List Of All Gym Members </a></h1>
</div>
<div style="padding-top :100px; padding-bottom: 50px; padding-left : 100px" > 
    <h1> <a href="/gym/trainers">List Of All Trainers </a></h1>
    </div>
<div style="padding-top :100px; padding-bottom: 50px; padding-left : 100px" > 
    <h1> <a href="/gym/gymAdminPlans">List Of All Plans </a></h1>
    </div>
<div style="padding-top :100px; padding-bottom: 50px; padding-left : 100px" > 
    <h1> <a href="/gym/addPlan">Add Plans </a></h1>
    </div>

<div style="padding-top :100px; padding-bottom: 50px; padding-left : 100px" > 
        <h1> <a href="/gym/bookSlotsPage">Book Slots </a></h1>
        </div>

<div style="padding-top :100px; padding-bottom: 50px; padding-left : 100px" > 
        <h1> <a href="/gym/slots">List Of All Booked Slots. </a></h1>
        </div>
{% endblock body %} 


