{% extends 'base.html' %}
{% block title %}
Gym Plans
{% endblock title %}

{% block body %}
<div style="padding-top :100px; padding-bottom: 50px; padding-left : 100px" > 
<h1>View Plans</h1>
</div>
{% for i in plans  %}



<style>
    
  
    /* Style list items */
    
    .listClass {
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    /* Style member information */
    .member-info {
      flex: 1;
      margin-right: 10px;
      font-size: large;
    }
  
    /* Style member buttons */
    .member-buttons {
      display: flex;
      align-items: center;
    }
  
    /* Style delete button */
    .delete-button {
      background-color: #e74c3c;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 8px 16px;
      margin-right: 10px;
      cursor: pointer;
    }
  
    /* Style update button */
    .update-button {
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 8px 16px;
      cursor: pointer;
    }
  
    /* Hover styles for buttons */
    .delete-button:hover {
      background-color: #c0392b;
    }
  
    .update-button:hover {
      background-color: #2980b9;
    }
  </style>
  
  <ul class="listClass">
    <li class="listClass">
      <div class="member-info">
        <h3>Name: {{i.name}}</h3>
        <h3>Amount: Rs.{{i.amount}}/-</h3>
        <h3>Duration: {{i.duration}}</h3>
      </div>
      <div class="member-buttons">
        <form action="{% url 'registration' %}" method="post" >
          {% csrf_token %}
          <input type="hidden" name="id">
          <button class="update-button" type="submit">Subscribe</button>
        </form>
      </div>
    </li>
  </ul>
  

{% endfor %}
{% endblock body %} 



  



